*{
 
  margin: 0px;
  padding: 0px;  

}
.homePage {
    display:flex;
    justify-content: center;
    align-items:center;
    position: relative;
    padding-top:20% ;
    


}

h1{
    color:#732F3B;
    font-family: 'Fredoka One', cursive;
}
h5{
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    text-align: center;
    font-size: 12px;
    color: #f05555;
}

body{
    background-image: url("./imagenes/clouds.jpg");
    display: flex;
   justify-content: center; 
   align-items:center;
   width: 100%;
}
#root{
    width: 100%;

}

#banner {
    display: flex;
    align-items: center;
    flex-direction: column;
}
input {

    margin-top: 10%;
    display: flex;
    

    width: 304.23px;
    height: 40px;

    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #AAA6A6;

    background: #FFF9F9;
    border: 2px solid #1EBFD1;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;

}

#formContainer{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#signIn{
    display: flex;
    margin-top: 10%;
    border:none;

    background: #1EBFD1;
    border-radius: 10px;
    width: 125px;
    height: 29px;

    position: relative;
    vertical-align: middle;
    font-family: "Fredoka One",cursive;
    font-style: normal;
    font-weight: normal;
    color: #FFF9F9;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 2;

    text-align: center; 
    justify-content: center;   
   

}

#signInGoogle{
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
    border:none;
    background: #f67b7c;
    border-radius: 10px;
    width: 230px;
    height: 33px;
    font-family: 'Fredoka one', sans-serif;
    color: #FFF9F9;
    font-size: 16px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    letter-spacing: .5px;
}



#lastContainer{
    display: flex;
    align-items: flex-end;
}

#registerIn{
    color:#732F3B;
    font-family: 'Fredoka one', sans-serif;
    font-size: 17px;
}

#routeButton{
    display: flex;
    border:none;
    margin-left: 3%;
    background:none;

    position: relative;
    vertical-align: middle;
    font-family: 'Fredoka one', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #f67b7c;
    font-size: 18px;

}
.eyeContainer{
    position: relative;

}
.openEye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(50%);
    cursor: pointer;
}

#wallBanner{
    width: 100%;
    background: rgba(30, 191, 209, 0.4);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}
#logoWall{
    Width: 79px;
    Height: 74px;
}
#welcomeMessage{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;

    font-family: 'Fredoka one', sans-serif;
    font-size: 18px;
    margin-top: 26px;
    color: #FF5A5C;
    letter-spacing: .5px;
}
#postContainer{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 95%;
    margin-bottom: 25px;

}
#postInput{
    font-size: 18px;
    width: 86%;
    height: 35px;
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #735858;
    background: #FFF9F9;
    border: 2px solid #1EBFD1;
    box-sizing: border-box;
    border-radius: 15px;

}
#yellowDog{
    Width: 43px;
    Height: 43px;
}

#backModal{
    visibility: hidden;
    top: 0px;
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #f67b7bb4; 
    justify-content: space-around;
    align-items: center;
    
    
}

#modal{
    border-radius: 10px;
    display: flex;
    background-color:#D3F5FF;;
    width: 85%;
    height: 40%;
    flex-direction: column;
    align-items: flex-end;
    border: 3.5px solid #1EBFD1;
    padding: 2%; 
}

#post{
    background-color:#D3F5FF;;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    width: 100%;
    height: 90%;
    border: none;
    font-family:'Montserrat', sans-serif;
    letter-spacing: .5px;
    font-size: 18px;   
   
}
#homePage{
    flex-direction: column;
    display:flex;
    align-items: center;
}
#recentPostDiv{
 padding: 1%;
 background-color: #f67b7bb4; 
 margin-bottom: 2%;
 border-radius: 10px;
 display: flex;
 justify-content: flex-start;
 flex-direction: column;
 align-content: center;
 width:100%;
 align-items: center;
}
#posts{
    display:flex;
    flex-direction: column;
    align-content: center;
    width:90%;

}
#recentPost{
    font-family:'Montserrat', sans-serif;
    margin: 2px;
    font-style: normal;
    text-align: center;
    font-size: 18px;
}
#close{
    font-family: 'Fredoka one', sans-serif;
    color:#FF5A5C;
    font-size: 22px;
    margin-right: 2%;
    margin-bottom: 10px;
}
#share{
    margin-top: 10%;
    border:none;
    background: #FF5A5C;;
    border-radius: 10px;
    font-family: 'Fredoka one', sans-serif;
    color:white ;
    letter-spacing: 0.5px;
    font-size: 16px;
    width: 80px;
    height: 30px
}

#edit{
    font-family: 'Fredoka One', cursive;
    border:none;
    background: none;
   color:#D76524;
   justify-content: flex-start;
}

#deletes{
    border:none;
    font-family: 'Fredoka One', cursive;
    background: none;
    color:#C72426;
    margin-right: 92%;
    margin-left: 10px;

}

#divButtons{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

#userMail{
    font-family: 'Fredoka one', sans-serif;
    font-size: 18px;
    color: #662A08;    
    letter-spacing: .5px;
}