body {
    background-color: white;
}

div {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}
h1{
    display: flex;
    max-width: 360px;
    font-size: 15px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
button{
    background-color : #0976B2;
    color : white;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    width: 200px;
    height: 50px;
    margin-top: 20px;
} 

input{
    margin-top: 20px;
    width: 295px;
    height: 42px;
}

#buttonGotoRegister{
    margin-top: 100px;
    width: 100%;
    border-radius: 0px;
    font-size: 100%;
}
#buttonLogin{
    font-weight: bold;
    font-size: 94%;
}
#buttonLoginGoogle{
    background-color:rgba(9, 118,178, 10%);
    color: black;
    font-weight: bold;
    width: 268px;
    font-size: 92%;
}
#buttonRegister{
    font-weight: bold;
    font-size: 94%;
}
#buttonHome{
    font-weight: bold;
    font-size: 94%;
}
img {
    width: 270px;
    
}